.race-flags-container .flag {
  width: 100vw;
  height: 100vh;
}

.race-flags-container #safe {
  background-color: #04aa6d;
}

.race-flags-container #hazard {
  background-color: rgb(255, 255, 66);
}

.race-flags-container #danger {
  background-color: #f44336;
}

.race-flags-container #finish {
  background-color: white;
  background-image:
    linear-gradient(45deg, black 25%, transparent 25%),
    linear-gradient(-45deg, black 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, black 75%),
    linear-gradient(-45deg, transparent 75%, black 75%);
  background-size: 50px 50px;
  background-position: 0 0, 0 25px, 25px -25px, -25px 0px;
}

.fullscreen-buttonrf {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: rgb(0, 0, 0);
  border-color: #ffffff;
  border: 2px solid;
  border-radius: 50%;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 15px 15px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
}
.fullscreen-buttonrf:hover {
  transform: scale(1.125);
}

